body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f3ef;
}

/*
* CSS lets us be specific as to how a class behave when its in another class.
* .introduction .wrapper 
* vs
* .wrapper
* will sho a different result based on where the .intro class is located
*/
.wrapper {
  margin-right: auto; /* 1 */
  margin-left:  auto; /* 1 */

  max-width: 960px; /* 2 */
}

.introduction .wrapper {
  width: 50%;
  margin:0;
  float: left;
}

.introduction {
  overflow: hidden;
}

a {
  text-decoration: none;
}

/* 
* if used multiple times, best to use class
* Otherwise use ID
*/
.text-center {
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  margin-top: 1.25rem;
  margin-bottom: 3rem;
}

.navbar {
  margin-left: 3.5px;
  margin-right: 3.5px;
}

.intro {
  font-size: 1.25rem;
  font-weight: 600;
}

.intro-pic {
  width: 50%;
  display: block;
  border-radius: 1.75rem;
  margin: auto;
}

.portfolio-carousel {
  margin-top: 3em;
  margin-bottom: 3em;
}
